@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply background to whole doc */
/* body {
  background-color: #ebebeb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
