@tailwind base;
@tailwind components;
@tailwind utilities;

._2023-horizon-ui-ai-template-all-rights-reserved {
  color: #718096;
  text-align: center;
  font: 500 14px/24px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 20px;
  top: calc(50% - -469px);
}
.links {
  width: 416px;
  height: 24px;
  position: static;
}
.homepage {
  color: #718096;
  text-align: center;
  font: 500 14px/24px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 1104px;
  top: calc(50% - -469px);
}
.license {
  color: #718096;
  text-align: center;
  font: 500 14px/24px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 1216px;
  top: calc(50% - -469px);
}
.terms-of-use {
  color: #718096;
  text-align: center;
  font: 500 14px/24px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 1306px;
  top: calc(50% - -469px);
}
.privacy-policy {
  color: #718096;
  text-align: center;
  font: 500 14px/24px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 1428px;
  top: calc(50% - -469px);
}
.button {
  background: linear-gradient(
    15.46deg,
    rgba(74, 37, 225, 1) 0%,
    rgba(123, 90, 255, 1) 92.70905256271362%
  );
  border-radius: 45px;
  opacity: 0.20000000298023224;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 54px;
  position: absolute;
  left: 1053px;
  top: 825px;
  box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48);
  overflow: hidden;
}
.toggle {
  position: absolute;
  inset: 0;
}
.gpt-3-5 {
  width: 174px;
  height: 70px;
  position: static;
}
.background {
  width: 174px;
  height: 70px;
  position: static;
}
.rectangle-3 {
  border-radius: 0px;
  position: absolute;
  left: 623px;
  top: 12px;
  overflow: visible;
}
.frame-44 {
  border-radius: 78px;
  padding: 11.7px;
  display: flex;
  flex-direction: row;
  gap: 6.5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 648px;
  top: 27.5px;
  overflow: visible;
}
.text {
  width: 76px;
  height: 18px;
  position: static;
}
.gpt-3-52 {
  color: #120f43;
  text-align: left;
  font: 700 18px/18px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 697px;
  top: 38px;
}
.gpt-4 {
  opacity: 0.20000000298023224;
  width: 108px;
  height: 39px;
  position: static;
}
.frame-442 {
  border-radius: 78px;
  padding: 11.7px;
  display: flex;
  flex-direction: row;
  gap: 6.5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 819px;
  top: 27.5px;
  overflow: visible;
}
.text2 {
  width: 59px;
  height: 18px;
  position: static;
}
.gpt-42 {
  color: #120f43;
  text-align: left;
  font: 700 18px/18px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 868px;
  top: 38px;
}
.no-plugins-enabled {
  position: absolute;
  inset: 0;
}
.no-plugins-enabled2 {
  color: #718096;
  text-align: left;
  font: 500 14px/26px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 72px);
  top: calc(50% - 388px);
}
.vector2 {
  position: absolute;
  left: 847.65px;
  top: 116.5px;
  transform: translate(-9.31px, 0px);
  overflow: visible;
}
.api-key-card {
  background: #ffffff;
  border-radius: 14px;
  width: 494px;
  height: 480px;
  position: absolute;
  left: calc(50% - 234px);
  top: 213px;
  box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
  overflow: hidden;
}
.save-button {
  background: linear-gradient(
    180deg,
    rgba(123, 203, 212, 1) 0%,
    rgba(41, 198, 183, 1) 100%
  );
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 54px;
  position: absolute;
  left: 333px;
  top: 189px;
  box-shadow: 0px 21px 27px -10px rgba(67, 200, 192, 0.47);
  overflow: hidden;
}
.save {
  color: #ffffff;
  text-align: left;
  font: 600 14px/16px "Plus Jakarta Sans", sans-serif;
  position: relative;
  width: 34px;
  height: 20px;
}
.input2 {
  background: #ffffff;
  border-radius: 45px;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 1px;
  width: 283px;
  height: 54px;
  position: absolute;
  left: 40px;
  top: 189px;
  overflow: hidden;
}
.sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx {
  color: #718096;
  text-align: left;
  font: 500 14px/100% "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: 20px;
  top: 18px;
}
.title {
  color: #1b2559;
  text-align: left;
  font: 700 24px/100% "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 153px);
  top: calc(50% - 197px);
}
.body {
  color: #718096;
  text-align: center;
  font: 500 16px/28px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 199px);
  top: calc(50% - 157px);
  width: 398px;
}
.the-app-will-connect-to-open-ai-api-server-to-check-if-your-api-key-is-working-properly {
  color: #718096;
  text-align: center;
  font: 500 14px/28px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 176px);
  top: calc(50% - -113px);
  width: 352px;
}
.get-your-api-key-from-open-ai-dashboard {
  color: #603cff;
  text-align: center;
  font: 600 14px/28px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 140px);
  top: calc(50% - -25px);
}
.your-api-key-is-not-working {
  position: absolute;
  inset: 0;
}
.your-api-key-is-not-working2 {
  color: #1b2559;
  text-align: center;
  font: 700 16px/28px "Plus Jakarta Sans", sans-serif;
  position: absolute;
  left: calc(50% - 117px);
  top: calc(50% - -69px);
}
.vector3 {
  position: absolute;
  left: 362.31px;
  top: 323px;
  transform: translate(-9.31px, 0px);
  overflow: visible;
}
